body {
  margin: 0;
  background-color: rgb(43,49,59);
}

main {
  margin: 48px 48px 16px 32px;
  color: #e5e5e5;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 400;
}

main a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

main a:hover {
  text-shadow: 1px 1px 4px rgba(255,255,255,0.5);
}

.console:last-child::after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}
